@tailwind base;
@tailwind components;
@tailwind utilities;

.fill-width {
  width: -moz-available; /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
  width: stretch;
}
